
<div class= "divbuttonfinder">
  <a href="/"><button id = "del-btn" type="button" class="btn btn-warning btn-rounded">Go home</button></a> 
  <a href="/adopters/find-dogadopter"><button id = "del-btn" type="button" class="btn btn-warning btn-rounded">Go back</button></a> 
</div>

<div class="text-center flex-section">
  <h1>Send and email to the shelter for adopt this dog</h1>
  <p>Name: {{shelter.name}}</p>
  <p>Address: {{shelter.address}} </p>
  <p>City: {{shelter.city}}</p>
  <p>Email: {{shelter.email}}</p>
  <p>Contact Person: {{shelter.contactPerson}} </p>
</div>

