<h2>Edit a Shelter profile</h2>

<form action="/shelter/editshelter" method="POST">
  <div class="form-group">
    <label for="formGroup1">username</label>
    <input type="text" class="form-control" id="formGroup1" placeholder="username" value = "{{shelter.username}}">
  </div>
  <div class="form-group">
    <label for="formGroup2">Email</label>
    <input type="text" class="form-control" id="formGroup2" placeholder="Change your email" value = "{{shelter.email}}">
  </div>
   <div class="form-group">
    <label for="formGroup1">name</label>
    <input type="text" class="form-control" id="formGroup1" placeholder="write your name here" value = "{{shelter.name}}">
  </div>
  <div class="form-group">
    <label for="formGroup4">City</label>
    <input type="text" name="city" class="form-control" id="formGroup4" placeholder="Add more information" value = "{{shelter.city}}">
  </div>
   <div class="form-group">
    <label for="formGroup4">About us</label>
    <input type="text" name="aboutUs" class="form-control" id="formGroup4" placeholder="Add more information about you!" value = "{{shelter.aboutUs}}">
  </div>
   <div class="form-group">
    <label for="formGroup6">Contact person</label>
    <input type="text" name="contactPerson" class="form-control" id="formGroup6" placeholder="Add the contact information" value = "{{shelter.contactPerson}}">
  </div>
   <div class="form-group">
    <label for="formGroup7">Address</label>
    <input type="text" name="other" class="form-control" id="formGroup7" placeholder="Add your address" value = "{{shelter.address}}">
  </div>
<button id = "del-btn" class="btn btn-danger">Submit</button>
</form>
{{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
{{/if}} 
