<a href="/"><button id = "del-btn" class="btn btn-danger">Home</button></a>
<a href="/adopters"><button id = "del-btn" class="btn btn-danger">Go back<button></a>  

<h1>Search for a sheltered dog!</h1>
    <form method="post" action="/adopters/find-dogadopter" class="form-inline my-2 my-lg-0">
      <label for="city">Cities</label>
      <select class="form-control" name= "city"> 
      {{#each  CITIES}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
      </select>
      <label for="size">Size</label>
      <select class="form-control" name= "size"> 
      {{#each  Size}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
      </select>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<main>
  {{#each dogs}}
<div class="card" style="width: 18rem;">
  <img src={{this.image}} style= "width: 18rem;" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
    <a href="/shelters/dogs/{{this._id}}" class="btn btn-primary">See this dog!</a>
  </div>
</div>
{{/each}}

{{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
{{/if}} 