<h1>This is the pet profile</h1>
<p>{{dog.shelter}}</p>
<p>{{dog.name}}</p>
<p>{{dog.age}}</p>

<a href="/petprofile/{{dog._id}}/editdog"><button id = "del-btn" class="btn btn-danger">Edit</button></a> 
<a href="/petprofile/{{dog._id}}/deletedog"><button id = "del-btn" class="btn btn-danger">Delete</button></a>