<h1>This is the pet profile</h1>
<p>{{dog.shelter}}</p>
<p>{{dog.name}}</p>
<p>{{dog.age}}</p>

<a href="/petprofile/editdog/{{dog._id}}"><button id = "del-btn" class="btn btn-danger">Edit</button></a> 
<a href="/petprofile/deletedog/{{dog._id}}"><button id = "del-btn" class="btn btn-danger">Delete</button></a>