
{{#if message}}
<h1>{{message}}</h1>
{{/if}}

{{#each dogs}}
<div class="card" style="width: 18rem;">
  <img src={{this.image}} style= "width: 18rem;" class="card-img-top" alt="...">
  <div class="card-body">
   <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
    <a href="/shelters/{{this.shelter}}/dogs/{{this._id}}" class="peach-gradient">See this dog!</a>
  </div>
</div>
{{/each}}


{{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
{{/if}} 

