<h1>This is the adopter profile</h1>
<h2>your information</h2>
<p>Name: {{adopter.name}}</p>
<p>City: {{adopter.city}}</p>
<p>Email: {{adopter.email}}</p>
<p>About me: {{adopter.aboutMe}} </p>
<p>Volunteer: {{adopter.volunteer}}</p>
<p>Other: {{adopter.other}} </p>

<a href="/"><button id = "del-btn" class="btn btn-danger">Home</button></a>
<a href="/adopters/find-dogadopter"><button id = "del-btn" class="btn btn-danger">Find dogs</button></a>
<a href="/adopters/edit"><button id = "del-btn" class="btn btn-danger">Edit</button></a> 
<a href="/adopters/{{adopter._id}}/delete"><button id = "del-btn" class="btn btn-danger">Delete</button></a>