<h1>PROFILE</h1>
<h2>Your info!</h2>

<p>Username: {{adopter.username}}</p>
<p>Name: {{adopter.name}}</p>
<p>City: {{adopter.city}}</p>
<p>Email: {{adopter.email}}</p>
<p>About me: {{adopter.aboutMe}} </p>
<p>Volunteer: {{adopter.volunteer}}</p>
<p>Other: {{adopter.other}} </p>

<a href="/adopters/find-dogadopter"><button id = "del-btn" class="peach-gradient">Find dogs</button></a>
<a href="/adopters/edit"><button id = "del-btn" class="peach-gradient">Edit</button></a> 
<a href="/adopters/{{adopter._id}}/delete"><button id = "del-btn" class="btn btn-danger">Delete</button></a>

