<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
              <h1>{{loggedInUser.name}} Profile</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                   <a href="/"><button id = "del-btn" type="button" class="btn btn-warning btn-rounded">Home</button></a>
                </li>
                <li class="nav-item">
                    <a href="/shelters/yourdogs"><button id = "del-btn" type="button" class="btn btn-warning btn-rounded">Your dogs</button></a>
                </li>
                <li class="nav-item">
                    <a href="/shelters/edit"><button id = "del-btn" type="button" class="btn btn-warning btn-rounded">Edit</button></a> 
                </li>
                  <li class="nav-item">
                   <a href="/shelters/{{loggedInUser._id}}/delete"><button id = "del-btn" type="button" class="btn btn-warning btn-rounded">Delete</button></a>
                </li>  <li class="nav-item">
                    <a href="/shelters/{{loggedInUser._id}}/dogs/create"><button id = "del-btn" type="button" class="btn btn-warning btn-rounded">Create dog</button></a>
                </li>
            </ul>
            <div class="profile-section tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <div class="row">
                        <div class="col-md-6">
                       <p>Name: {{loggedInUser.name}}</p>
                        <p>City: {{loggedInUser.city}}</p>
                        <p>Email: {{loggedInUser.email}}</p>
                        <p>Contact Person: {{loggedInUser.contactPerson}} </p>
                        <p>Address: {{loggedInUser.address}} </p>
                        </div>
                       
    </div>
</div>