<h1>This is the shelter profile</h1>
<h2>your information</h2>

<p>Name: {{loggedInUser.name}}</p>
<p>City: {{loggedInUser.city}}</p>
<p>Email: {{loggedInUser.email}}</p>
<p>Contact Person: {{loggedInUser.contactPerson}} </p>
<p>Address: {{loggedInUser.address}} </p>


<a href="/shelters/find-dog"><button id = "del-btn" class="btn btn-danger">Find dogs</button></a>
<a href="/shelters/myrequests"><button id = "del-btn" class="btn btn-danger">Requests</button></a> 
<a href="/shelters/edit"><button id = "del-btn" class="btn btn-danger">Edit</button></a> 
<a href="/shelters/{{loggedInUser._id}}/delete"><button id = "del-btn" class="btn btn-danger">Delete</button></a>
<a href="/shelters/{{loggedInUser._id}}/dogs/create"><button id = "del-btn" class="btn btn-danger">Create dog</button></a>
<a href="/shelters/yourdogs"><button id = "del-btn" class="btn btn-danger">Your dogs</button></a>

